spring:
  application:
    name: helpdesk-backend

  datasource:
    url: jdbc:mysql://localhost:3306/helpdeskdb?useSSL=false&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  gemini:
    api:
      key: ${GEMINI_API_KEY}

server:
  port: 8081


